# FaceNodeConfig.cfg
PACKAGE = "logos_face"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("fps", int_t, 0, "Frames per second", 8, 1, 24)

exit(gen.generate(PACKAGE, "logos_face", "FaceNode"))
