<launch>
  <!-- 
    LOGOS HARDWARE LAYER
    - Pan/Tilt (Arduino Mega)
    - Arms (Arduino Uno)
    - Arm Controllers
  -->

  <!-- 1. ARDUINO BRIDGES -->
  <!-- Pan-Tilt Control (Arduino Mega) -->
  <node name="pantilt_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/mega_duino"/> 
    <param name="baud" value="57600"/>
  </node>

  <!-- Arm Control (Arduino Uno) -->
    <node name="arm_serial_node" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" value="/dev/uno_duino"/> 
    <param name="baud" value="57600"/>
  </node>

  <!-- 2. EXPRESSIVE NODES (Python 3.8 System) -->
  
  <!-- Arm Logic -->
  <node name="arm_playback" pkg="logos_hardware" type="arm_playback_node.py" output="screen"/>
  <node name="arm_controller" pkg="logos_hardware" type="arm_controller_node.py" output="screen"/>
  

  <!-- 3. TTS -->
  <!-- rosrun logos_hardware tts_action_server.py  -->
  <!-- rosrun logos_hardware face_playback.py -->

  <node name="tts_action_server" pkg="logos_hardware" type="tts_action_server.py" output="screen"/>
  <node name="tts_face_playback" pkg="logos_hardware" type="audio_and_face_playback.py" output="screen"/>

</launch>